* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(58, 57, 57);   
    padding: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 20px; 
    background: #222;
}

body {
    background-color: rgb(247, 244, 244);
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  font-size: 14px;
  right: 0px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.lang-btn {
  background: #444;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  margin-left: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.lang-selector {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  
  
}

#lang-btn {
  background: #cccaca;
  color: rgb(7, 7, 7);
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.flag {
  width: 20px;
  height: auto;
  border-radius: 3px;
}

.lang-menu {
  position: absolute;
  right: 0;
  top: 110%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0.5rem 0;
  display: none;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.lang-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

.lang-menu li:hover {
  background: #f0f0f0;
}

.lang-menu.show {
  display: block;
}

ul li {
  padding: 3px 3px;
}

ul li:hover {
  transform: scale(1.1);
  color: #f0c975;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto; /* menu a la derecha */
  align-items: center;
  margin-right: 8em;
}

/* Responsive */
@media (max-width: 768px) {

  .logo {
    width: 120px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 60px;
    right: 0;
    text-align: center;
    padding: 1rem;

  }

  nav ul.show {
    display: flex;
    font-size: 18px;
    text-align: center;
  }

  .menu-toggle {
    display: block;
    color: #f0c975;
    font-size: 30px;
  }

}
